<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div align="center">
    <table>
      <tr>
        <td><%= f.label :name %></td>
        <td><%= f.label @user.name %></td>
      </tr>
    <tr>
        <td><%= f.label :gender %></td>
        <td><%= f.password_field :gender %></td>
    </tr>
    <tr>
        <td><%= f.label :school %></td>
        <td><%= f.password_field :school %></td>
    </tr>
    <tr>
        <td><%= f.label :position %></td>
        <td><%= f.password_field :position %></td>
    </tr>
    <tr>
        <td><%= f.label :interest %></td>
        <td><%= f.password_field :interest %></td>
    </tr>
    </table>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
