<head>
  <h1>Blog</h1>
  <div align = "center">
    <%= link_to 'New', new_post_path, class: "btn btn-small btn-success"%>
  </div>
</head>

<body>

    <% @posts.order("created_at DESC").each do |post| %>
      <tr>
        
          <td>
            <!--<h3><%= post.title %></h3>-->
            <h3><%= link_to post.title, post %></h3> 
          </td>

          <td>
            <small> 
              -- <b><%= post.name %></b> 
              Create at <%= post.created_at.to_s(:db) %>
             </small>
          </td>
          <br>
          <br>
          <div id="pcontent">
          <td><%= simple_format(post.content)%></td>
          </div>
          
        
        <br>
        <div align = "right">
            <%= link_to 'Read More...', post , class: "btn btn-mini" %> 
            <%if current_user == post.user %>       
              <td><%= link_to 'Edit', edit_post_path(post), class: "btn btn-mini" %></td>
              <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-mini"%></td>
            <%end%>
        </div>
        <br>
      </tr>
    <% end %>
<body>

