<p>
  <h3><%= @post.title %></h3>
  <b>Author:</b>
  <%= @post.name %>
  <b>Updated at</b> 
  <%= @post.updated_at.to_s(:db) %>
  <br>
</p>

<div align ="center">
  <%=link_to "Previous",@post.previous%> |
  <%= link_to 'Back to List', posts_path %> |
  <%=link_to "Next",@post.next%>
</div>
 
<p>
  <%= simple_format(@post.content) %>
</p>
 
<p>
  <b class="label">Tags:
  	<%= join_tags @post %>
  </b>
</p>
<%if current_user == @post.user %>
<div align="right"> 
<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Delete Post', @post, method: :delete, data: { confirm: 'Are you sure?' } %> 

</div>
<%end%>
<br>
<p><h4>Comments</h4></p>
<%= render @post.comments %>
<%= render "comments/form" %>
 
 
